*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 400px;
    background: linear-gradient(to right,skyblue,rgb(50, 82, 50));
    color: rgb(255, 255, 255);
    margin: 100px auto 0;
    text-align: center;
    border-radius: 20px;
    padding: 40px 35px;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    padding: 12px;
    border: 0px;
    border-radius: 20px;
    width: 270px;
    margin-right: 20px;
}
.search button{
    border: 0px;
    outline: 0;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.search button img{
    width: 15px;
}
.weather-icon{
    height: 190px;
}
.temp{
    font-size: 47px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.city{
    font-size: 37px;
    margin-bottom: 14px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 50px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 20px;
}
.weather{
    display: none;
}
